/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*  css reset and global styles  */



        *,
        *:before,
        *:after {
            margin: 0;
            padding: 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing:border-box;
            box-sizing: border-box;
            vertical-align: baseline;
        }
        ul li{
            display: inline;
            text-align: center;
            -moz-text-decoration-color: none;
        }
.left{
            float:left;
        }
        .right{
            float:right;
        }
        .clearfix:after {
            display:table;
            content: " ";
            clear:both;
        }
.container{
    max-width: 960px;
    margin: 0 auto;
}


@font-face {
    font-family: 'AkzidenzGrotesk-Bold';
    src: url('../assets/Akzidenz-grotesk-light-bold.ttf');
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('../assets/akzidenzgrotesk-bq-regular.otf');
}



section{

    display: inline-block;
}









@media (min-width: 769px){



    #wrapper{
        position: relative;
        width: 960px;
        margin: 0 auto;
        padding-top: 3em;

    }

    a {text-decoration: none;} 
 
  body {
    background-image: url("../img/bio-LARGE.jpg");
    background-color: #23141f;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline;
  }

  .inline {display: inline;}

.clear{
  clear: both;
  display: block;  
  content: "";
  width: 100%;  
}

.aklogo{
        background: url(../img/aklogo.png) no-repeat;
        height: 80px;
        width: 80px;
        background-size: cover;
        float: left;
        margin-top: .2em;
         position: relat;
         margin-left: .5em;

}

.aklogo:hover{
  -webkit-filter: drop-shadow(0px 0px 5px #000) brightness(50%);
    filter: drop-shadow(0px 0px 5px #000) brightness(50%);
}

.smaller {

    font-size: .8em !important;
}

  h5, h3, h2, h4 {
    color:  rgba(207, 195, 226, 0.6);
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
  }

  h3{
    font-size: 8em;
    text-align: left;
  }

 .main-title{
    margin-left: 0.5em;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;
    font-size: 4em;
    display: inline;

     
 }
.main-title:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}
.bio{
    position: absolute;
    margin-left: 0.2em;
    font-size: 8em;
    z-index: -1;
    margin-top: 1%;

}

h2 {

    font-size: 4em;

  }

h5 {

    font-size: 1.3em;
    font-weight: 100;
  }

nav a{
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
    font-weight: 600;
    display: inline;
    margin-right: 53px;
    font-size: 1.3em;
    text-decoration: none;
    list-style-type: none;
    color: rgba(207, 195, 226, 0.6);
}
nav a:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}
nav a:visited{
    color: rgba(207, 195, 226, 0.6);
}
nav a:active{
    color: #e9c0da;
}
nav{
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
    margin-top: -1em;
    max-width: 347 px;
    margin-left: 8.9em;
}
.cv a{
margin-top: 0.5em;

}

.resume a{

    margin-bottom: -3em;    
}

.cvdocs a{
    font-weight: 600;
    display: block;
    text-align: left;
    font-size: 3em;
    text-decoration: none;
    list-style-type: none;
    color: rgba(207, 195, 226, 0.6);
    position: relative;
    margin-left: 5.5em;
    line-height: 1em;
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 

     }


.cvdocs a:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}

.bio-text{
    margin-left: 2em;
    margin-right: 20em; 
    margin-top: 2em;

}
.bio-text p{
    color: rgba(207, 195, 226, 0.6);
    font-family: 'Akzidenz-Grotesk BQ' , 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 1.2em;
    font-weight: 100;


}

footer{
    font-weight: 400;
    font-size: .6em;
    text-align: center;
    color: rgba(207, 195, 226, 0.6);
    margin-top: 4em;
    margin-bottom: 2em;

}

}



@media (min-width: 481px) and (max-width: 768px){

    #wrapper{
        position: relative;
        width: 480px;
        margin: 0 auto;
        padding-top: 3em;

    }

    a {text-decoration: none;} 
 
  body {
    background-image: url("../img/bio-LARGE.jpg");
    background-color: #23141f;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline;

  }

  .inline {display: inline;}

.clear{
  clear: both;
  display: block;  
  content: "";
  width: 100%;  
}

.aklogo{
        background: url(../img/aklogo.png) no-repeat;
        height: 80px;
        width: 80px;
        background-size: cover;
        float: left;
        margin-top: .2em;
         position: relat;
         margin-left: 2%;

}

.aklogo:hover{
  -webkit-filter: drop-shadow(0px 0px 5px #000);
    filter: drop-shadow(0px 0px 5px #000);

}

.smaller {

    font-size: .8em !important;
}

  h5, h3, h2, h4 {
    color:  rgba(207, 195, 226, 0.6);
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
  }

  h3{
    font-size: 8em;
    text-align: left;
  }

 .main-title{
    margin-left: 4.5%;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;
    font-size: 3.1em;
    display: inline;

     
 }
.main-title:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}
.bio{
    position: absolute;
    z-index: -1;
    margin-top: 1%;
    margin-left: 1%;
    display: inline;
    font-size: 8em;

}

  h2 {

    font-size: 4em;

  }

  h5 {

    font-size: 1.3em;
    font-weight: 100;
  }

nav a{
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
    font-weight: 600;
    display: inline;
    margin-right: 3%;
    font-size: 1.2em;
    text-decoration: none;
    list-style-type: none;
    color: rgba(207, 195, 226, 0.6);
    margin-left: 0;
}
nav a:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}
nav a:visited{
    color: rgba(207, 195, 226, 0.6);
}
nav a:active{
    color: #e9c0da;
}
nav{
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
    margin-top: 0em;
    margin-left: 23%;

}
.cv a{
margin-top: .5em;

}

.resume a{

    margin-bottom: -3em;    
}

.cvdocs a{
    font-weight: 600;
    display: block;
    text-align: left;
    font-size: 3em;
    text-decoration: none;
    list-style-type: none;
    color: rgba(207, 195, 226, 0.6);
    position: relative;
    margin-left: 5em;
    line-height: 1em;
     }


.cvdocs a:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}

.bio-text{
    margin-top: 2em;
    margin-left: 2%;
    margin-right: 2%; 

}
.bio-text p{
    color: rgba(207, 195, 226, 0.6);
    font-family: 'Akzidenz-Grotesk BQ' , 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 1.2em;
    font-weight: 100;

}

footer{
    font-weight: 400;
    font-size: .6em;
    text-align: center;
    color: rgba(207, 195, 226, 0.6);
    margin-top: 4em;
    margin-bottom: 2em;

}


 }





@media (min-width: 1px) and (max-width: 480px) {



   
    #wrapper{
        position: relative;
        width: 320px;
        margin: 0 auto;
        padding-top: 3em;

    }

    a {text-decoration: none;} 
 
  body {
    background-image: url("../img/bio-SMALL.jpg");
    background-color: #23141f;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline;

  }

  .inline {display: inline;}

.clear{
  clear: both;
  display: block;  
  content: "";
  width: 100%;  
}

.aklogo{
        background: url(../img/aklogo.png) no-repeat;
        height: 50px;
        width: 50px;
        background-size: cover;
        float: left;
        margin-top: 3%;
         position: relat;
         margin-left: 2%;

}

.aklogo:hover{
  -webkit-filter: drop-shadow(0px 0px 5px #000);
    filter: drop-shadow(0px 0px 5px #000);

}

.smaller {

    font-size: .8em !important;
}

  h5, h3, h2, h4 {
    color:  rgba(207, 195, 226, 0.6);
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
  }

  h3{
    font-size: 8em;
    text-align: left;
  }

 .main-title{
    margin-left: 2%;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;
    font-size: 2.1em;
    display: inline;


     
 }
.main-title:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}
.bio{
    position: absolute;
    z-index: -1;
    margin-top: 3%;
    margin-left: 1%;
    display: inline;
    font-size: 5em;


}

  h2 {

    font-size: 4em;

  }

  h5 {

    font-size: 1.3em;
    font-weight: 100;
  }

nav a{
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
    font-weight: 600;
    display: inline;
    margin-right: 1.3%;
    font-size: 0.83em;
    text-decoration: none;
    list-style-type: none;
    color: rgba(207, 195, 226, 0.6);
}
nav a:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}
nav a:visited{
    color: rgba(207, 195, 226, 0.6);
}
nav a:active{
    color: #e9c0da;
}
nav{
    font-family: 'AkzidenzGrotesk-Bold', 'Helvetica Neue', 'Helvetica', sans-serif; 
    margin-top: -1%;
    margin-left: 3.9em;
}
.cv a{
margin-top: .5em;

}

.resume a{

    margin-bottom: -3em;    
}

.cvdocs {
    margin-left: 9.1em;
    margin-top: 0;
}

.cvdocs a{
    font-family: 'AkzidenzGrotesk-Bold', sans-serif; 
    font-weight: 600;
    display: block;
    text-align: left;
    font-size: 2em;
    text-decoration: none;
    list-style-type: none;
    color: rgba(207, 195, 226, 0.6);
    position: relative;
    line-height: 1em;
     }


.cvdocs a:hover{
    color: #333138;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}

.bio-text{
    margin-left: 2%;
    margin-right: 2%; 
    margin-top: 20%;

}
.bio-text p{
    color: rgba(207, 195, 226, 0.6);
    font-family: 'Akzidenz-Grotesk BQ' , 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 1em;
    font-weight: 100;
        z-index: -1;


}

footer{
    font-weight: 400;
    font-size: .6em;
    text-align: center;
    color: rgba(207, 195, 226, 0.6);
    margin-top: 4em;
    margin-bottom: 2em;

}


}
























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */


    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


}


