.drum
  h1
    |DRUM MASCHINE
  .screen
    h3#sound
      |Matt's Kit
  .line
  button#chorus1
    |H
  button#chorus2
    |J
  
  button#trumpet1
    |T
  
  button#trumpet2
    |Y
  
  button#clav
    |G

  button#tom
    |R

  button#crash
    |F

  button#clap
    |E

  button#kick
    |A
  
  button#snare
    |W

  button#close
    |S

  button#open
    |D

  
 